h1, h2 {
    color: darkblue;
    padding-bottom: 10px;
}

.maintitle {
  margin: 10px;
}

.mapbox {
  height: 500px;
  width: 100%;
  border: 2px solid darkblue;
  border-radius: 2px;
}

.weatherbox {
  height: 500px;
  color: darkblue;
  padding: 10px 10px 10px 20px;
  border: 2px solid darkblue;
  border-radius: 2px;
}
.weatherbox label {
  display: block;
}
